.md-content img, video, audio, .video-container {
  max-width: 500px;
  width: 100%;
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flow-root;
}

/* Apply styles to iframe */
.video-container iframe {
  width: 100%;         /* Make iframe responsive */
  height: auto;        /* Maintain aspect ratio */
  aspect-ratio: 4 / 3; /* For 16:9 aspect ratio */
  border: none;        /* Remove the border */
  display: block;      /* Ensure no unwanted spacing around the iframe */
}

.first-entry.home-info {
  min-height: 0;
}

.first-entry .entry-header h1 {
  font-size: 40px;;
}

#disqus_thread {
  margin-top: 56px;
}
